.contenedorpadre{
   background-color: #c7c7c7;
}


*{
    margin: 0%;
    padding: 0%;
    outline: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
	padding-top: 120px;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

article{
    background-color: #c7c7c7;
    width: 85%;
    height: 95%;
}
hr{
    
background-color: black;
}

img{
    height: auto;
    max-width: 600px;
    width: 100%;

}
iframe{
    border-radius: 25% 1px;
}
span{
    font-family: 'Anton', sans-serif;
color: black;
}
form{
    padding-left: 15px;
}
textarea{
    width: 65%;
}


 /*
 Logo
 */
   
 #main-header {
	background: #525659;
    padding: 10px;
	color: white;
	height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; 
    z-index: 100;
   

}	
#main-header {
    background-color: #101010;
	color: white;
	height: 105px;
}	
	#main-header a {
		color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 10px;
	text-decoration: none;
    color: rgb(131,58,180);
}
	#logo-header:hover {
		color: black;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 3em;
	}
	
	#logo-header .site-desc {
		display: block;
		color: #999;
	}

    /*
    ul
    */
    nav {
        float: right;
    }
        nav ul {
            margin: 0;
            padding: 7px;
            list-style: none;
            padding-right: 20px;
        }
        
            nav ul li {
                display: inline-block;
                line-height: 80px;
            }
                
                nav ul li a {
                    display: block;
                    padding: 0 10px;
                    text-decoration: none;
                }
                
                    nav ul li a:hover {
                        background: #f86909;
                       border-radius: 15px 1px;
                       transition: 1s; 
                    }

                    #main-content header,
	#main-content .content {
		padding: 40px;
	}

    /*
    footer
    */

    #main-footer {
        background: #333;
        color: white;
        padding: 20px;
        margin-top: 70px;
    }
        #main-footer p {
            margin: 0;
        }
        
        #main-footer a {
            color: white;
        }
        /*
        Slide
        */
        .container{
            
            width: 65%;
            height: auto;
        position:static;
        margin: auto;
        
        /*
        box-shadow: 0px px .1px 0px  #101010 
        */
                       
        }   

    
        
        .slider__section{
            width: 100%;

        }
        
        .slider__img{
            display: block;
            width: 100%;
            height: 100%;

        }
        .botones{
           
            width: 70px;
            height: 70px;
            background-color: #333;
            border-radius: 50%;
            font-size: 45px;
            font-weight: bold;
            position: absolute  ;
            line-height: 70px;
            text-align: center;
            -webkit-transition:all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
    
        }
/*==================================================================responsi*/
        
        .botones:hover{
            cursor: pointer;
            transform: scale(1.2,1.2);

        }
        
        .atras{
            left: 15%;
            top: 60%;
        }
        .adelante{
            right: 15%;
            top: 60%;
        }
        .c{
            box-shadow: 0 0 0 5px #6c656fe2,
                        0 15px 10px;
            height: 250px;
            width: 350px;
            display: inline;
            border-radius: 25% 1%;
           
        }
        .c:hover{
            box-shadow: 0 0 0 5px #6c656fe2,
                        0 15px 10px;
            height: 300px;
            width: 450px;
            display: inline;
            border-radius: 0% 0%;
            -webkit-transition:all 2.5s ease;
            -o-transition: all 2.5s ease;
            transition: all 2.5s ease;
                       
        }

        .articulo{
            display: inline;
            padding-left: 12px;
            margin: auto;
            
         }
         
         .coint
         {
             width: 100%;
             max-width: 1200px;
             margin: auto ;    
         }

.bodyfoot{
    display: flex;
}

.column1{
    max-width: 400px;
    padding-right: 150px;
}

.column1 p {
    font-size:14px;
    color: #f2f2f2;
    margin-top: 20px;
}

.redes{
    max-width: 400px;
    margin-left: 10%;

}

.redes h1{
    font-size: 22px
}
.redes .row{
margin-top: 20px;
display: flex;

}
.row img{
    width: 35px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 10px;
}
.contacto{
 max-width: 400px;
 display: block;

}
.contacto h1{
    font-size: 22px;

}
.ffooter{
    color: #c7c7c7;
    width: 100%;
    background-color: #555454;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.derechos label{
    width: 100%;
    text-decoration: none;
    color:white;
    font-weight: bold;
}


.site-name{
    width: 300px;
    height: 80px;
    
   
}

.entrada{
    
    font-size: 24px;
    text-align: center;
    font-family: 'Bad Script', cursive;
    color: black;
}

.contenedorpadre h2  {
    text-align: center;

}
 
/* ===========================================tarjetas========================*/

/*============================================tarjeta1========================*/
.tarjetas  {
 background-color: #101010;
color: white;
font-family: Arial;
font-size: min(18px, max(5vw, 13px));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.tarjeta {
  width: 200px;
  margin: 1rem;

  perspective: 1000px;
  transform-style: preserve-3d;
}

.tarjeta .frontal,
.tarjeta .tracero {
  height: auto;
  min-height: 280px;

  background-size: cover;
  background-position: center;

  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);

  color: #fff;
  font-size: 1.5rem;
  text-align: center;

  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.tarjeta .frontal {
background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url(./img/img3.jpg);
background-color: #66D7D1;
/* Posicion por defecto */
transform: rotateY(0deg);
}
.tarjeta .tracero {
  width: 100%;
  
  background-color: #957DAD;
  
  top: 0;
  left: 0;
  position: absolute;
/* Posicion por defecto */
  transform: rotateY(180deg);
}
/* Velocidad de trancicion */
.tarjeta:hover .frontal,
.tarjeta:hover .tracero {transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);}

/* Girar imagen */
.tarjeta:hover .frontal {transform: rotateY(-180deg);}
.tarjeta:hover .tracero {transform: rotateY(0deg);}


.tarjeta .contenido {
  width: 100%;
  position: absolute;
  
  padding: 2rem;
  box-sizing: border-box;
  
  top: 50%;
  left: 0;
  perspective: inherit;
/* Posicion de texto central */
  transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.frontal .contenido p {
  font-size: 2rem;
  position: relative;
  margin-bottom: .5rem;
}
.frontal .contenido hr {
  width: 4rem;
  height: 1px;
  
  background: #C6D4DF;
  
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.frontal .contenido span {color: rgba(255, 255, 255, 0.7);}
/*============================================================tarjeta2*/

.trjs {
display:inline-flex;
width: 100%;
background-color: #101010;
}


.tarjetas-dos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tarjeta-dos{
	width: 200px;
	margin: 1rem;

	perspective: 1000px;
	transform-style: preserve-3d;
}

.tarjeta-dos .frontal-dos,
.tarjeta-dos .tracero-dos {
	height: auto;
	min-height: 280px;

	background-size: cover;
	background-position: center;

	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);

	color: #fff;
	font-size: 1.5rem;
	text-align: center;

	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.tarjeta-dos .frontal-dos {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(https://unsplash.it/500/500/);
  background-color: #66D7D1;
  /* Posicion por defecto */
  transform: rotateY(0deg);
}
.tarjeta-dos .tracero-dos {
	width: 100%;
	
	background-color: #957DAD;
	
	top: 0;
	left: 0;
	position: absolute;
  /* Posicion por defecto */
	transform: rotateY(180deg);
}
/* Velocidad de trancicion */
.tarjeta-dos:hover .frontal-dos,
.tarjeta-dos:hover .tracero-dos {transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);}

/* Girar imagen */
.tarjeta-dos:hover .frontal-dos {transform: rotateY(-180deg);}
.tarjeta-dos:hover .tracero-dos {transform: rotateY(0deg);}


.tarjeta-dos .contenido-dos {
	width: 100%;
	position: absolute;
	
	padding: 2rem;
	box-sizing: border-box;
	
	top: 50%;
	left: 0;
	perspective: inherit;
  /* Posicion de texto central */
	transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.frontal-dos .contenido-dos p {
	font-size: 2rem;
	position: relative;
	margin-bottom: .5rem;
}
.frontal-dos .contenido-dos hr {
	width: 4rem;
	height: 1px;
	
	background: #C6D4DF;
	
	margin: 0 auto;
	margin-bottom: 1.5rem;
}
.frontal-dos .contenido-dos span {color: rgba(255, 255, 255, 0.7);}
/*===========================Tarjeta3==================================================*/
.tarjetas-tres {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tarjeta-tres{
	width: 200px;
	margin: 1rem;

	perspective: 1000px;
	transform-style: preserve-3d;
}

.tarjeta-tres .frontal-tres,
.tarjeta-tres .tracero-tres {
	height: auto;
	min-height: 280px;

	background-size: cover;
	background-position: center;

	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);

	color: #fff;
	font-size: 1.5rem;
	text-align: center;

	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.tarjeta-tres .frontal-tres {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(https://unsplash.it/500/500/);
  background-color: #66D7D1;
  /* Posicion por defecto */
  transform: rotateY(0deg);
}
.tarjeta-tres .tracero-tres {
	width: 100%;
	
	background-color: #957DAD;
	
	top: 0;
	left: 0;
	position: absolute;
  /* Posicion por defecto */
	transform: rotateY(180deg);
}
/* Velocidad de trancicion */
.tarjeta-tres:hover .frontal-tres,
.tarjeta-tres:hover .tracero-tres {transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);}

/* Girar imagen */
.tarjeta-tres:hover .frontal-tres {transform: rotateY(-180deg);}
.tarjeta-tres:hover .tracero-tres {transform: rotateY(0deg);}


.tarjeta-tres .contenido-tres {
	width: 100%;
	position: absolute;
	
	padding: 2rem;
	box-sizing: border-box;
	
	top: 50%;
	left: 0;
	perspective: inherit;
  /* Posicion de texto central */
	transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.frontal-tres .contenido-tres p {
	font-size: 2rem;
	position: relative;
	margin-bottom: .5rem;
}
.frontal-tres .contenido-tres hr {
	width: 4rem;
	height: 1px;
	
	background: #C6D4DF;
	
	margin: 0 auto;
	margin-bottom: 1.5rem;
}
.frontal-tres .contenido-tres span {color: rgba(255, 255, 255, 0.7);}


@media screen and (max-width:670px) {
    #logo-header > img{
        width: 180px;
        height: 90px;

    }
    .trjs {
        display:block;
        width: 100%;
        background-color: #101010;
        }

    hr{
        width: 75%;
        margin: auto;
        background-color: #101010;
        height: 3%;
    }
    
.redes{
font-size: 12px;
}

form{
display: none;
}


    .tarjetas{
        margin: auto;
        height: 100%;
    }
    .contenedorpadre{
        background-color: #c7c7c7;
        max-width: 100%;
        margin: auto;}

    .container{
        max-width: 100%;
        width: 100%;
        height: auto
        
    /*
    box-shadow: 0px px .1px 0px  #101010 
    */
                   
    }   
    body {
        width: 100%;
        margin: auto;
    }
    footer{
        width: 100%;
        max-width: 100%;
    }

    
    nav{
        display: none;
    }
    .botones{
   
        width: 35px;
        height: 100px;
        background-color: rgba(51, 51, 51, 0.993);
        border-radius: 0%;
        font-size: 20px;
        font-weight: bold;  
        position: absolute  ;
        line-height: 100px;
        text-align: center;
        -webkit-transition:all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        opacity: 75%;
        

    }


    .atras {
        left: 1%;
        top: 40%;
    }

    .adelante {
        right: 1%;
        top: 40%;
}


.articulo{
    width: 95%;
    margin: auto;
}


.c{
    box-shadow: 0 0 0 5px #6c656fe2,
                0 15px 10px;
                max-width: 100%;    
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;

    border-radius: 25% 1%;
    margin-left: 12px;
   
}
.c:hover{

   
    box-shadow: 0 0 0 5px #6c656fe2,
                0 15px 10px;
    height: 250px;
    width: 100%;
    
   
    border-radius: 0% 0%;
    -webkit-transition:all 2.5s ease;
    -o-transition: all 2.5s ease;
    transition: all 2.5s ease;
               
}
.bodyfoot{
    width: 100%;
    display: block;
}
.column1{
    width: 130px;
    font-size: 12px;
}

iframe{
    width:180px;
    height:100px;
}

}